.play-again {
  order: 3;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 38px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 26px;
    border: none;
    background: $accent;
    color: $fontColor; 
  }

  &__icon {
    height: 20px;
  }
}