@import 'game';
@import 'buckets';
@import 'field';
@import 'timer';
@import 'answer';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #aaa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}